<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <script type="text/javascript" src="sample.js"></script>
  </head>

  <body>

<div class="header">

    <div class="header__title">
        <%= link_to "*Our Story*", '/', class: "header__title--text" %>
      </div>


<div class="post">
<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"%>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>



<div class="grid">
  <% @posts.each do |post| %>
  <div class="module">
  <%= link_to post.title, post_path(post.id), class: "content__right__top--title" %>
   <%= post.user.nickname %>
  </div>
  <% end %>
</div>
</div>

 </body>
</html>